@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');




* {
  font-family: sans-serif;
  background-color: rgb(0, 0, 0);
  font-family: 'Pixelify Sans', sans-serif;
  color: #ffffff;
}


#playgrounnd{

background-color: rgb(121, 117, 117);
width: 95vw;
height: 90vh;

}

#block{

position: absolute;
width: 5vw;
height: 5vh;
top: 150px;


}